.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101; 
}

.displaynone {
  display: none; 
}

.flex-direction-row {
  display: flex;
  flex-direction: row; 
}


.bin-actual-form > div {
  background-color: white; 
  height: 70px; 
  width: 540px; 
  border: 0.5px solid lightgray;
  color: #333;
}

#create-bin-greeting {
  color: #333;
  margin-left: 200px;
  margin-top: 25px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px; 
  font-weight: 700; 
}

#close-bin-create {
  font-size: 25px; 
  position: absolute; 
  right: 0px; 
  padding: 20px; 
  height: 15px;
  width: 15px;
  line-height: 15px;
}

#close-bin-create:hover {
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.bin-create-input-names {
  line-height: 70px;
  margin-left: 20px; 
  width: 145px; 
}

.bin-create-input {
  width: 380px; 
  // height: 40px; 
  border-radius: 4px; 
  border: 0.5px solid #333; 
  display: block; 
  margin: 15px 15px 15px 0px;
}

.bin-create-input[value] {
  padding-left: 15px;
}

.bin-button {
  width: 75px;
  background-color: #efefef;
  border: none;
  // border-radius: 0px 8px 8px 0px;
  border-radius: 8px;
  cursor: pointer;
  // flex: 0 0 auto;
  height: 40px;
  outline: 0px;
  // padding: 14px 14px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  right: 18px;
  bottom: 18px; 
}

.bin-button:hover{
  background-color: #e2e2e2;
}

#first-div {
  border-radius: 5px 5px 0px 0px;
}

#last-div {
  border-radius: 0px 0px 5px 5px;
}