.bin-index-container {
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.actual-bin-container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    height: 250px;
    padding: 10px;
}

.actual-bin-container:hover {
    .bin-contents {
        background-color: lightgray;
        transition-delay: .1s;
    }
    background-color: #EFEFEF;
    transition-delay: .1s;
}

.bin-contents {
    box-sizing: border-box;
    border: 1px solid black;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #EFEFEF;
}

.bin-name {
    padding-top: 10px;
    color: #333;
    font-size: 21px;
    font-weight: 700;
    font-family: Helvetica;
}

.number-of-pins {
    font-weight: 400;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.bin-box {
    width: 33.3%;
    height: 100%
}

.half-box {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1px;
}

.tiny-box {
    height: 33.3%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1px;
}

.big-box {
    height: 66.6%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1px;
}