.bin-index-container {
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
}

.actual-bin-container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    height: 250px;
    padding: 20px;
}

.bin-contents {
    box-sizing: border-box;
    border: 1px solid black;
    height: 80%;
}