


.AWS-test-outer-div {
  position: absolute;
  width: 253px;
  height: 40px;
  margin-bottom: 9px;
  border: solid #333 1px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
}

.aws-test-button {
  margin-top: 30px;
}