:root {
  --request-feature-width: 350px;
  --pin-overview-offset: 24px;

  --pin-red: rgb(230, 0, 35);
  --pin-red-selected: rgb(200, 0, 15);
  --shadow: rgba(0, 0, 0, 0.1);
  --shadow-white: rgba(255, 255, 255, 1);
}

.cir-icon-16 {
  padding: 8px;
  border-radius: 50%;
}
.cir-icon-16:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.red-button {
  border: none;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 12px;
  border-radius: 12px;
  background: var(--pin-red);
  color: white;
}
.red-button:hover {
  background: var(--pin-red-selected);
  cursor: pointer; 
}

