
a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  margin: 4px 0;
  z-index: 10;
  box-shadow: 0px 10px 8px var(--shadow-white);

}

.navbar-left {
  margin-left: 8px;
  display: flex;
  align-items: center;
}


.fas {
  color: #8e8e8e;
  font-size: 22px;
}

.fab {
    color: #8e8e8e;
    font-size: 25px;
}

#navbar-logo-container {
  display: flex;
  height: 53px;
  width: 53px;
  align-items: center;
  justify-content: center;
}
#navbar-logo-container:hover {
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
#navbar-logo {
  height: 26px;
  width: 26px;
}

.navbar-center {
  display: flex;
  border-radius: 10px;
  background-color: #f2f2f2;
  width: calc(100% - 600px);
  margin: 10px;
  height: 40px;
}

.search-bar {
  background: #f2f2f2;
  font-weight: bold;
  border-style: none;
  border-radius: 24px;
  font-size: 16px;
  width: 100%;
  outline: none; 
}

$navpadding: 602px;
 
#searchdropdown {
  position: absolute;
  background: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 57px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px; 
  // left: -300px; 
  width: calc(100% - #{$navpadding});
  border: 1px solid lightgray;
  box-shadow: -4px 4px 8px 0px var(--shadow);
}

::placeholder {
  color: dark;
  font-weight: 900;
  opacity: 1;
}

.navbar-near-right {
  display: flex;
  flex-direction: row;
  margin: 8px;
  align-items: center;
}
.navbar-link {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 25px;
  font-weight: bold;
  color: #8e8e8e;
}
.navbar-link:first-of-type {
  color: #333;
}
.navbar-link:hover {
  border-radius: 30px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.navbar-link-user {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.user-initial {
  margin: 0 15px 0 0;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #8e8e8e;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

.navbar-username {
  padding-top: 12px;
  font-weight: bold;
  font-size: 16px;
  padding-right: 8px;
  color: rgb(142, 142, 142);
}

.navbar-right {
  display: flex;
  margin: 8px 20px 8px 0px;
  vertical-align: middle;
  align-items: center;
}
.divider {
  height: 62%;
  width: 0;
  border: 1px solid #efefef;
  margin-right: 8px;
}

.navbar i {
  width: 32px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 8px 8px 14px;
  border-radius: 50%;
}
.navbar-right i:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.account-dropdown {
  position: absolute;
  background: white;
  top: 72px;
  right: 4px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: -4px 4px 8px 0px var(--shadow);
}

.account-dropdown > div {
  width: 300px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  background: white;
  padding-left: 20px;
}
.account-dropdown > div:last-child {
  border: none;
}

.account-dropdown > div:hover {
  background: #f2f2f2;
  cursor: pointer;
}

// #github > div {
//   width: 250px; 
// }

.github-dropdown {
  position: absolute;
  background: white;
  top: 72px;
  right: 4px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: -4px 4px 8px 0px var(--shadow);
}

.github-dropdown > a > div {
  width: 300px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  background: white;
  padding-left: 20px;
}
#dropdown-ele {
  border: none;
}

.github-dropdown > a > div:hover {
  background: #f2f2f2;
  cursor: pointer;
}

#github > a {
  font-weight: 700;
  color: black; 
}


#github > div:first-child {
  text-align: center; 
  height: 30px; 
  line-height: 30px; 
  background-color: lightgray;
  color: black; 
  font-weight: 700;
}

