

.auth-logo {
  display: inline-block;
  height: 40px;
  width: 40px; 
  margin-top: 30px; 
}

#splash-outer-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  height: 540px;
  width: 440px;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.modal-background-splash {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-background-splash > img {
  position: absolute;
  opacity: 0.5;
  object-fit: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  // left: 0px;
  // top: 0px;
  // max-width: 100%;
  // height: 100vh;
  // width: 100vw;
}

// #splash-image {
//   position: absolute; 
//   background-image: url("https://image.freepik.com/free-photo/vintage-brown-brick-structure-wallpaper-background-soft-tone-pinterest-instragram-like-process_10307-405.jpg");
//   left: 0px;
//   top: 0px;
//   width: 100%;
//   height: 100%;
//   // z-index: ;
// }



.fab.fa-pinterest.splash-logo {
  display: inline-block;
  font-size: 40px; 
  margin-top: 30px; 
}

#splash-greeting {
  font-size: 32px;
  font-weight: bold;
  font-family: Helvetica;
  margin: 12px 0px 30px;
}

#splash-form > form > input {
  width: 253px;
  height: 40px;
  margin-bottom: 9px;
  border: solid #333 1px;
  border-radius: 4px;
}

#splash-form > form > input[value] {
  padding-left: 15px;
}

.splash-button {
  width: 268px;
  height: 35px; 
  background: red;
  color: white; 
  margin-top: 18px;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
}

.splash-button:hover {
  cursor: pointer; 
  background: rgb(230, 0, 35);
}

#splash-signup-login-button {
  z-index: 100;
  position: relative;
  color: #333;
  margin-top: 50px;
  margin-left: 25px;
  font-weight: 700;
  width: 130px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background: white;
}

#splash-signup-login-button:hover {
  // background: #dadada
  background: #ebeaea;
}

.splash-errors {
  color: red; 

  font-size: 14px;
}